{% extends 'blog/base.html' %}
{% block content %}
{% load static %}
<div class="home col-md-12">
<h1 class = "intro">AlgoNinjutsu</h1>
<br>
<h2 class = "">Become an algorithms ninja.</h2>
<img align src="{% static 'images/thumbnail_image1.png' %}" class="img-fluid rotate" alt="Responsive image"
width="600" height="600">

<h1 class = "intro">Questions</h1>
<br>
<h4>225 questions with detailed solutions that provide line by line explanations spanning the following categories:</h4>
<br>
<br>
<section class = "home-card-list">
  <article class="home-card" style="background-color:	rgb(112,128,144);">
    <header class = "home-card-header">
      <h6>Arrays</h6>
      <img src="{% static 'images/thumbnail_image7.png' %}" width="35" height="13">
    </header>
  </article>

  <article class="home-card" style="background-color:	rgb(112,128,144);">
    <header class = "home-card-header">
      <h6>Linked Lists</h6>
      <img src="{% static 'images/thumbnail_image8.png' %}" width="45" height="12">

    </header>
  </article>

  <article class="home-card" style="background-color:	rgb(112,128,144);">
    <header class = "home-card-header">
      <h6>Strings</h6>
      <p class= "my-1" style = "font-size: 9px; font: verdana;"><b>aabb123</b></p>
    </header>
  </article>

  <article class="home-card" style="background-color:	rgb(112,128,144);">
    <header class = "home-card-header">
      <h6>Binary Search Trees</h6>
      <img src="{% static 'images/thumbnail_image5.png' %}" width="16.5" height="16.5">
    </header>
  </article>

  <article class="home-card" style="background-color:	rgb(112,128,144);">
    <header class = "home-card-header">
      <h6>HashMaps</h6>
      <i class="fas fa-columns"></i>
    </header>
  </article>
  </section>
  <br>
<section class = "home-card-list" style="padding-left:10px;">
<br>
  <article class="home-card" style="background-color:	rgb(112,128,144);">
    <header class = "home-card-header">
      <h6>HashSets</h6>
      <i class="fas fa-table"></i>
    </header>
  </article>

  <article class="home-card" style="background-color:	rgb(112,128,144);">
    <header class = "home-card-header">
      <h6>Graphs</h6>
      <i class="fas fa-th"></i>
    </header>
  </article>

  <article class="home-card" style="background-color:	rgb(112,128,144);">
    <header class = "home-card-header">
      <h6>Tries</h6>
      <img src="{% static 'images/thumbnail_image6.png' %}" width="25.3" height="22">
    </header>
  </article>

  <article class="home-card" style="background-color:	rgb(112,128,144);">
    <header class = "home-card-header">
      <h6>Heaps</h6>
      <img src="{% static 'images/thumbnail_image5.png' %}" width="16.5" height="16.5">
    </header>
  </article>

  <article class="home-card" style="background-color:	rgb(112,128,144);">
    <header class = "home-card-header">
      <h6>Trees</h6>
      <img src="{% static 'images/thumbnail_image5.png' %}" width="16.5" height="16.5">
    </header>
  </article>
</section>
<br>
<section class = "home-card-list" style="padding-left:10px;">
<br>
  <article class="home-card" style="background-color:	rgb(112,128,144);">
    <header class = "home-card-header">
      <h6>HashSets</h6>
    </header>
  </article>

  <article class="home-card" style="background-color:	rgb(112,128,144);">
    <header class = "home-card-header">
      <h6>Dynamic Programming</h6>
      <i class="my-1 fas fa-sort-amount-up"></i>
    </header>
  </article>

  <article class="home-card" style="background-color:	rgb(112,128,144);">
    <header class = "home-card-header">
      <h6>Recursion</h6>
      <i class="fas fa-infinity"></i>
    </header>
  </article>

  <article class="home-card" style="background-color:	rgb(112,128,144);">
    <header class = "home-card-header">
      <h6>Backtracking</h6>
      <i class="fas fa-trash-restore"></i>
    </header>
  </article>

  <article class="home-card" style="background-color:	rgb(112,128,144);">
    <header class = "home-card-header">
      <h6>Math</h6>
      <i class="fas fa-calculator"></i>
    </header>
  </article>
</section>
<br>
<section class = "home-card-list" style="padding-left:10px;">
<br>
  <article class="home-card" style="background-color:	rgb(112,128,144);">
    <header class = "home-card-header">
      <h6>Binary</h6>
      <p class= "my-1" style = "font-size: 8px; font: verdana;"><b>01101001</b></p>
    </header>
  </article>

  <article class="home-card" style="background-color:	rgb(112,128,144);">
    <header class = "home-card-header">
      <h6>Binary Search</h6>
      <i class="fas fa-arrows-alt-h"></i>
    </header>
  </article>

  <article class="home-card" style="background-color:	rgb(112,128,144);">
    <header class = "home-card-header">
      <h6>Depth-First Search</h6>
    </header>
  </article>

  <article class="home-card" style="background-color:	rgb(112,128,144);">
    <header class = "home-card-header">
      <h6>Breadth-First Search</h6>
    </header>
  </article>

  <article class="home-card" style="background-color:	rgb(112,128,144);">
    <header class = "home-card-header">
      <h6>Greedy</h6>
    </header>
  </article>
</section>
<br>
<br>
<br>
<h1 class = "intro">Templates</h1>
<br>
<h4>Code templates that outline how to get started with designing the specific algorithm:</h4>
<br>
<br>
<section class = "home-card-list">
  <article class="home-card"  style="background-color:	rgb(110,127,128);">
    <header class = "home-card-header">
    <h6>Dynamic Programming</h6>
    <i class="my-1 fas fa-sort-amount-up"></i>
    </header>
  </article>

  <article class="home-card" style="background-color:	rgb(110,127,128);">
    <header class = "home-card-header" >
      <h6> Backtracking </h6>
      <i class="fas fa-trash-restore"></i>
    </header>
  </article>

  <article class="home-card" style="background-color:	rgb(110,127,128);">
    <header class = "home-card-header">
      <h6>Depth First Search</h6>
    </header>
  </article>

  <article class="home-card" style="background-color:	rgb(110,127,128);">
    <header class = "home-card-header">
      <h6>Breadth-First Search</h6>
    </header>
  </article>

  <article class="home-card" style="background-color:	rgb(110,127,128);">
    <header class = "home-card-header">
      <h6>Binary Search</h6>
    </header>
  </article>
</section>
<br>
<br>


</div>
{% endblock content %}
