{% extends 'blog/base.html' %}
{% block content %}
{% load static %}
<div class="home col-sm-12 container" align="center">
<h1 class = "intro">AlgoNinjutsu</h1>
<br>
<h2 class = "">Become an algorithms ninja.</h2>
<img align src="{% static 'images/thumbnail_image1.png' %}" class="img-fluid rotate" alt="Responsive image"
width="500" height="500">

<h1 class = "intro">Questions</h1>
<br>
<h4>Over 150 questions with detailed solutions that provide line by line explanations spanning the following categories:</h4>
<br>
<br>


<br>
<br>


</div>
{% endblock content %}
