{% extends 'blog/base.html' %}
{% block content %}
<div class="postlist col-md-12">
    <h2 class="all_questions" align="center">All Questions</h2>
    <br>
    <br>
  <div class="row">
  <br>
  {% for post in post_list %}
  <div class="card" style="width: 25%">
    <h4 align="center"><a class="text-dark" style = "font-size:13px;" href="{% url 'post_detail' pk=post.pk %}">
      <br>
      <b>  {{ post.title|safe }}</b></a></h4>
    {% if post.difficulty == "easy" %}
    <div class="card-body" style="background-color: 	rgb(0,100,0)">
    {% elif post.difficulty == "medium" %}
    <div class="card-body" style="background-color: rgb(204,204,0)">
    {% elif post.difficulty == "hard" %}
    <div class="card-body" style="background-color: rgb(128,0,0)"">
    {% endif %}
      <div class="postdifficulty text-light">
        {{post.difficulty}}
        <br>
        <! –– Set amount of brains depending on difficulty ––>
        {% if post.difficulty == "medium" %}

        <i class="fas fa-brain fa-2x"></i>
        {% elif post.difficulty == "hard" %}
        <i class="fas fa-brain fa-3x"></i>
        {% else %}
        <i class="fas fa-brain"></i>
        {% endif %}
        <! –– Set graphic according to  ––>
      </div>
      <div class="category text-light">
        <br>
        <h7>{{post.category}}</h7>
        <br>
        {% if post.category == "linked lists" %}
        <i class="fas fa-ellipsis-h"></i>
        {% elif post.category == "trees" %}
        <i class="fas fa-tree"></i>
        {% elif post.category == "arrays" %}
        <i class="fas fa-columns"></i><i class="fas fa-columns"></i>
        {% elif post.category == "dynamic programming" %}
        <i class="fas fa-sort-amount-up"></i>
        {% elif post.category == "graphs" %}
        <i class="fas fa-th"></i>
        {% elif post.category == "stacks" %}
        <i class="fas fa-angle-double-up"></i>
        {% elif post.category == "queues" %}
        <i class="fas fa-angle-double-right"></i>
        {% elif post.category == "strings" %}
        <p style = "font-size: 11px; font: verdana;"><b>bruh911</b></p>
        {% elif post.category == "recursion" %}
        <i class="fas fa-infinity"></i>
        {% elif post.category == "tries" %}
        <i class="fas fa-sitemap"></i>
        {% elif post.category == "heaps" %}
        <i class="fas fa-sitemap"></i>
        {% endif %}
      </div>
    </div>
  </div>
  <br>
  {% endfor %}
  </div>
</div>
{% endblock %}
