{% extends 'blog/base.html' %}
{% block content %}
{% load static %}
<div class="home col-md-12">
<h1 class = "intro">AlgoNinjutsu</h1>
<br>
<h2 class = "">Become an algorithms ninja.</h2>
<img align src="{% static 'images/thumbnail_image1.png' %}" class="img-fluid rotate" alt="Responsive image"
width="600" height="600">

<h1 class = "intro">Questions</h1>
<br>
<h4>225 questions with detailed solutions that provide line by line explanations spanning the following categories:</h4>
<br>
<br>
<section class = "home-card-list">
  <article class="home-card" style="background-color:	rgb(112,128,144);">
    <header class = "home-card-header">
      <p>Arrays</p>
      <img src="{% static 'images/thumbnail_image7.png' %}" width="35" height="13">
    </header>
  </article>

  <article class="home-card" style="background-color:	rgb(112,128,144);">
    <header class = "home-card-header">
      <p>Linked Lists</p>
      <img src="{% static 'images/thumbnail_image8.png' %}" width="45" height="12">

    </header>
  </article>

  <article class="home-card" style="background-color:	rgb(112,128,144);">
    <header class = "home-card-header">
      <p>Strings</p>
      <p class= "my-1" style = "font-size: 10px; font: verdana;"><b>aabb123</b></p>
    </header>
  </article>

  <article class="home-card" style="background-color:	rgb(112,128,144);">
    <header class = "home-card-header">
      <p>Binary Search Trees</p>
      <img src="{% static 'images/thumbnail_image5.png' %}" width="16.5" height="16.5">
    </header>
  </article>

  <article class="home-card" style="background-color:	rgb(112,128,144);">
    <header class = "home-card-header">
      <p>HashMaps</p>
      <i class="fas fa-columns"></i>
    </header>
  </article>
  </section>
  <br>
<section class = "home-card-list" style="padding-left:10px;">
<br>
  <article class="home-card" style="background-color:	rgb(112,128,144);">
    <header class = "home-card-header">
      <p>HashSets</p>
      <i class="fas fa-table"></i>
    </header>
  </article>

  <article class="home-card" style="background-color:	rgb(112,128,144);">
    <header class = "home-card-header">
      <p>Graphs</p>
      <i class="fas fa-th"></i>
    </header>
  </article>

  <article class="home-card" style="background-color:	rgb(112,128,144);">
    <header class = "home-card-header">
      <p>Tries</p>
      <img src="{% static 'images/thumbnail_image6.png' %}" width="25.3" height="22">
    </header>
  </article>

  <article class="home-card" style="background-color:	rgb(112,128,144);">
    <header class = "home-card-header">
      <p>Heaps</p>
      <img src="{% static 'images/thumbnail_image5.png' %}" width="16.5" height="16.5">
    </header>
  </article>

  <article class="home-card" style="background-color:	rgb(112,128,144);">
    <header class = "home-card-header">
      <p>Trees</p>
      <img src="{% static 'images/thumbnail_image5.png' %}" width="16.5" height="16.5">
    </header>
  </article>
</section>
<br>
<section class = "home-card-list" style="padding-left:10px;">
<br>
  <article class="home-card" style="background-color:	rgb(112,128,144);">
    <header class = "home-card-header">
      <p>HashSets</p>
    </header>
  </article>

  <article class="home-card" style="background-color:	rgb(112,128,144);">
    <header class = "home-card-header">
      <p>Dynamic Programming</p>
      <i class="my-1 fas fa-sort-amount-up"></i>
    </header>
  </article>

  <article class="home-card" style="background-color:	rgb(112,128,144);">
    <header class = "home-card-header">
      <p>Recursion</p>
      <i class="fas fa-infinity"></i>
    </header>
  </article>

  <article class="home-card" style="background-color:	rgb(112,128,144);">
    <header class = "home-card-header">
      <p>Backtracking</p>
      <i class="fas fa-trash-restore"></i>
    </header>
  </article>

  <article class="home-card" style="background-color:	rgb(112,128,144);">
    <header class = "home-card-header">
      <p>Math</p>
      <i class="fas fa-calculator"></i>
    </header>
  </article>
</section>
<br>
<section class = "home-card-list" style="padding-left:10px;">
<br>
  <article class="home-card" style="background-color:	rgb(112,128,144);">
    <header class = "home-card-header">
      <p>Binary</p>
      <p class= "my-1" style = "font-size: 10px; font: verdana;"><b>01101001</b></p>
    </header>
  </article>

  <article class="home-card" style="background-color:	rgb(112,128,144);">
    <header class = "home-card-header">
      <p>Binary Search</p>
      <i class="fas fa-arrows-alt-h"></i>
    </header>
  </article>

  <article class="home-card" style="background-color:	rgb(112,128,144);">
    <header class = "home-card-header">
      <p>Depth-First Search</p>
    </header>
  </article>

  <article class="home-card" style="background-color:	rgb(112,128,144);">
    <header class = "home-card-header">
      <p>Breadth-First Search</p>
    </header>
  </article>

  <article class="home-card" style="background-color:	rgb(112,128,144);">
    <header class = "home-card-header">
      <p>Greedy</p>
    </header>
  </article>
</section>
<br>
<br>
<br>
<h1 class = "intro">Templates</h1>
<br>
<h4>Code templates that outline how to get started with designing the specific algorithm:</h4>
<br>
<br>
<section class = "home-card-list">
  <article class="home-card"  style="background-color:	rgb(110,127,128);">
    <header class = "home-card-header">
    <p>Dynamic Programming</p>
    <i class="my-1 fas fa-sort-amount-up"></i>
    </header>
  </article>

  <article class="home-card" style="background-color:	rgb(110,127,128);">
    <header class = "home-card-header" >
      <p> Backtracking </p>
      <i class="fas fa-trash-restore"></i>
    </header>
  </article>

  <article class="home-card" style="background-color:	rgb(110,127,128);">
    <header class = "home-card-header">
      <p>Depth First Search</p>
    </header>
  </article>

  <article class="home-card" style="background-color:	rgb(110,127,128);">
    <header class = "home-card-header">
      <p>Breadth-First Search</p>
    </header>
  </article>

  <article class="home-card" style="background-color:	rgb(110,127,128);">
    <header class = "home-card-header">
      <p>Binary Search</p>
    </header>
  </article>
</section>
<br>
<br>


</div>
{% endblock content %}
