
h1 {
  font-size: 5.9vw;
}
h2 {
  font-size: 3.0vh;
}
p {
  font-size: 1vmin !important;
}
a {
  font-size: 1vmin !important;
}

.dropdown-menu {
    background-color: transparent;
    border-color: transparent;
    color:white  !important;

}
