body {
  font-family: 'Special Elite', cursive;
  background: #ECE9E6;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #FFFFFF, #ECE9E6);  /* Chrome 10-25, Safari 5.1-6 */
  overflow-x: hidden;
  max-width: 100%;
}

.navbar-brand{
  float:left;
  text-align:left;
  font-size: 16px !important;

}
img {
    max-width:100%;
}
.small-img{

}

.postdifficulty{
    font-size: 1.9vmin !important;
}
.dropdown-links{
  font-family: 'Special Elite', cursive !important
}
.counter{
  font-family: 'Rock Salt', cursive;
  font-size: 35px;
}
.dropdown-menu{
  font-size:12px;
}
.postdate{
  text-align: center;
}
a.check:visited {
  color: grey !important;
}

.category{
  float:left;
  font-size: 1.3vmin !important;

}
.alt_category{
  font-size: 1.3vmin !important;
  float:left;
}
.card{
  transition: 1.5s;
}
.card:hover{
  transform:translateY(-13px);
}

.card:not(:first-child){
  margin-down: -10px;
}

.posttext{
  font-family: Calibri;
  font-size: 2vmin !important;
}
.postdescription{
  font-family: Calibri;
  font-size: 2.5vmin !important;

}
.postexplanation{
  font-family: Calibri;
  font-size: 2.25vmin !important;

}
.additionalnotes{
  font-family: Calibri;
  font-size: 2.5vmin !important;

}

.navbar{
  float:left;
  font-family: 'Rock Salt', cursive;
  font-size: 4% !important;
  width:100%;

}
.navbar_links{
  font-size: 14px;
  color:black !important;
}
.form-control{
  height:auto;
  width: 14rem !important;
}
.rotate {
  margin-top: -3rem;
  margin-bottom:-3rem;
  max-width: 72%;
  animation: rotation 4.5s infinite linear;
}
@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-359deg);
  }
}

.home-card-list{
  display:flex;

}
.home-card{
  display: flex;
  position: relative;
  flex-direction: column;
height: 100% !important;
  width:22% !important;
  padding: 2rem;
  border-radius: 16px;
  box-shadow: -1rem 0 3rem black;
  transition: 1s;
  color:white;
  font-size: 2vmin !important;
}
.home-card:hover{
  transform:translateY(-15px);
}
.home-card:hover~.home-card{
  transform: translateX(10px);
}
.home-card:not(:first-child){
  margin-left: -12px;
}
.home{
  text-align: center ;
}

.content{
  padding-top:9rem;
}

.med-viewport{
  font-size: 1.5vmin !important;
}
.intro{
  font-family: 'Rock Salt', cursive;
}
.dropdown-menu {
  background-color: rgb(55, 78, 109);
  border-color: rgb(55, 78, 109);
  width:100%;
}
.nav-link{
    background-color: rgb(55, 78, 109);
    border-color: rgb(55, 78, 109);
    width:100%;
}
.navbar-toggler{
  background-color: rgb(55, 78, 109);
  border-color: rgb(55, 78, 109);
  width:45px;
  float:left;
}
.footer{
  margin-top: 400px;
  width:100%;
  height: 15%;
}
