body { padding-top: 120px;
  font-family: 'Special Elite', cursive;
  background: #ECE9E6;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #FFFFFF, #ECE9E6);  /* Chrome 10-25, Safari 5.1-6 */
  max-width: 100%;
  overflow-x: hidden;
}
.logo{
   text-align: center;
   font-size: 16px !important;
}

img {
    max-width:100%;
}

.postdifficulty{
    font-size: 2.25vmin !important;
}
.dropdown-links{
  font-family: 'Special Elite', cursive !important
}
.counter{
  font-family: 'Rock Salt', cursive;
  font-size: 35px;
}
.dropdown-menu{
  font-size:12px;
}
.postdate{
  text-align: center;
}
a.check:visited {
  color: grey !important;
}

.category{
  font-size:10px;
  float:left;
}
.alt_category{
  font-size:10px;
  float:left;
}
.card{
  transition: 1.5s;
}
.card:hover{
  transform:translateY(-13px);
}

.card:not(:first-child){
  margin-down: -10px;
}

.posttext{
  font-family: Calibri;
  font-size: 2vmin !important;
}
.postdescription{
  font-family: Calibri;
  font-size: 2.5vmin !important;

}
.postexplanation{
  font-family: Calibri;
  font-size: 2.25vmin !important;

}
.additionalnotes{
  font-family: Calibri;
  font-size: 2.5vmin !important;

}

.navbar{
  float:left;
  height:75px;
  font-family: 'Rock Salt', cursive;
  font-size: 4% !important;
  width:100%
}
.navbar_links{
  font-size: 14px;
  color:black !important;
}
.form-control{
  height:34px;
}
.rotate {
  margin-top: -6rem;
  margin-bottom: -4rem;
  animation: rotation 4.5s infinite linear;
}
@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-359deg);
  }
}

.home-card-list{
  display:flex;

}
.home-card{
  display: flex;
  position: relative;
  flex-direction: column;
  height: 100% !important;
  width:22% !important;
  padding: 1.5rem;
  border-radius: 16px;
  box-shadow: -1rem 0 3rem black;
  transition: 1s;
  color:white;
  font-size: 2vmin !important;
}
.home-card:hover{
  transform:translateY(-15px);
}
.home-card:hover~.home-card{
  transform: translateX(15px);
}
.home-card:not(:first-child){
  margin-left: -12px;
}
.home{
  text-align: center ;
  justify-content: center;
  padding-left: 30px;
}
.postlist{
  padding-left:20px;
}
.intro{
  font-family: 'Rock Salt', cursive;
}
.dropdown-menu {
  background-color: rgb(55, 78, 109);
  border-color: rgb(55, 78, 109);
  width:100%;
}
.nav-link{
    background-color: rgb(55, 78, 109);
    border-color: rgb(55, 78, 109);
    width:100%;
}
.navbar-toggler{
  background-color: rgb(55, 78, 109);
  border-color: rgb(55, 78, 109);
}
.footer{
  margin-top: 400px;
  width:105%;
  height: 15%;
}
